.header {
  display: flex;
  top: 0;
  width: max-widt;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  min-height: 50px;
  flex: 2;
  background-color: white;
}

.header_centre {
  display: flex;
  flex: 10;
  justify-content: center;
  background-color: white;
}
.recherche {
  display: flex;
  outline: none;
  background-repeat: no-repeat;
  background-image: url("../../assets/loupe.png");
  background-size: 15px;
  background-position: 15px center;
  padding-left: 45px;
  height: 30px;
  width: 500px;
  border-radius: 17px;
  border: 1px solid lightgrey;
}

input {
  font-size: 12px;
}

.notifications {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  line-height: 100%;
  background-color: white;
  position: relative;
}

.nombrenotifications {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 8px;
  top: -0.8em;
  left: -0.8em;
  background-color: #178c9a;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.compte_utilisateur {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  background-color: white;
  flex: 1;
}

.compte_utilisateur img {
  border-radius: 10px;
}
